#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}

{% set _enabled_collectors = [] %}
{% set _disabled_collectors = [] %}
{% if node_exporter_collectors is defined and
      node_exporter_collectors.enabled is defined %}
  {% set _enabled_collectors = node_exporter_collectors.enabled %}
{% endif %}
{% if node_exporter_collectors is defined and
      node_exporter_collectors.disabled is defined %}
  {% set _disabled_collectors = node_exporter_collectors.disabled %}
{% endif %}

GOMAXPROCS={{ ansible_processor_vcpus | default(ansible_processor_count) }}

OPTIONS="
{% for collector in _enabled_collectors %}
  {% if collector | type == "dict" %}
    {% set name, options = (collector.items() | list)[0] %}
  --collector.{{ name }} \
    {% for k,v in options | dictsort %}
  --collector.{{ name }}.{{ k }}={{ v | quote }} \
    {% endfor %}
  {% else %}
  --collector.{{ collector }} \
  {% endif %}
{% endfor %}
{% for collector in _disabled_collectors %}
  --no-collector.{{ collector }} \
{% endfor %}
  --log.level={{ node_exporter_logging.level | default('info') }} \
  --web.listen-address={{ node_exporter_web.http_listen_address | default('127.0.0.1') }}:{{ node_exporter_web.http_listen_port | default('9100') }} \
  --web.telemetry-path={{ node_exporter_web.telemetry_path | default('/metrics') }}
"
